<!-- views/layouts/home.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Syncholar</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/javascripts/react-tagsinput/react-tagsinput.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/stylesheets/form.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/newsfeed.css">
    <link rel="stylesheet" href="/stylesheets/profile-organization.css">
    <link rel="stylesheet" href="/stylesheets/profile-organization-item.css">
    <link rel="stylesheet" href="/stylesheets/style-extra.css">

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/JSXTransformer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.27.2/react-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.2.1/trianglify.min.js"></script>
    <script src="/javascripts/react-tagsinput/react-tagsinput.js"></script>
    <script type="text/javascript">
        function decodeEntities(encodedString) {
            var textArea = document.createElement('textarea');
            textArea.innerHTML = encodedString;
            return textArea.value;
        }
    </script>

</head>
<body>

<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid navbar-container">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle Navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand"><img alt="RT" src="/images/logo.png" width="30"></a>
            </div>
            <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {{#if user}}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span> Menu <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/create/organization">Create Research Network</a></li>
                            <li><a href="/report">Report Problem</a></li>
                        </ul>
                    </li>
                </ul>

                    <ul class="nav navbar-nav navbar-nav-search">
                        <li class="nav navbar-search">
                            <form typerole="search" class="navbar-left search-bar-form" onsubmit="return false">
                                <input id="message" type="text" name="searchQuery" placeholder="Search..." class="form-control search-bar auto"/>
                            </form>
                        </li>
                    </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-hover"><a href="/profile/{{user.username}}"><img src="{{user.imgUrl}}" alt="" width="34px" class="img-circle"></a></li>
                    <li class="dropdown connection-button">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <div class="notification-container">
                                <span><i class="fa fa-user-plus"></i></span>
                                <span class="notification-counter" style="display:none;">0</span>
                            </div>
                        </a>
                        <ul id="friendrequest" class="dropdown-menu friend-request-dropdown" aria-labelledby="dropdownMenuDivider">
                        </ul>
                    </li>
                    <li class="dropdown logout-button"><a href="/signout" role="button"><span class="glyphicon glyphicon-log-out body-link"></span></a>
                        <!--
                        <a href="#" data-toggle="dropdown" role="button" class="dropdown-toggle"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/help" style="height: 45px;line-height: 45px;"><span class="glyphicon glyphicon-info-sign"></span>  Help</a></li>
                            <li><a href="/signout" style="height: 45px;line-height: 45px;"><span  class="glyphicon glyphicon-log-out"></span>  Logout</a></li>
                        </ul>
                        -->
                    </li>
                {{else}}
                    <li class="dropdown logout-button">
                        <a href="/signin"> <font color="white"><font size="3">Sign In</font></font></a>
                    </li>
                {{/if}}
            </ul>
            </div>
        </div>
    </nav>
    {{{body}}}
</div>
<div class="container container-footer">
    <footer>
        <div class="container">
            {{#if user}}
            <hr class="style14" style="margin-top:35px;">
            {{else}}
            {{/if}}
            <div class="footer-nav">
                <div class="row">
                    <div class="col-sm-5" style="margin:auto !important;float:none;text-align:center;padding:10px;">
                        <p><font size="2">&copy; 2016 Syncholar.com. All rights reserved.</font> </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
<script src="/javascripts/bootstrap-sass-official/assets/javascripts/bootstrap.js"> </script>
<script src="/javascripts/moment/moment.js"></script>
<script src="https://www.parsecdn.com/js/parse-latest.js"></script>
<script src="https://www.parsecdn.com/js/parse-react.js"></script>
<script type="text/jsx" src="/javascripts/navbar.js"></script>
<script src="/javascripts/autocomplete.js"></script>

<script src="/javascripts/sweetalert/dist/sweetalert.min.js"></script>
<link rel="stylesheet" href="/javascripts/sweetalert/dist/sweetalert.css">

<script>
    $(document).ready(function(){
        $('.dropdown-toggle').dropdown()
    });

    $.widget( "custom.catcomplete", $.ui.autocomplete, {
        _create: function() {
            this._super();
            this.widget().menu( "option", "items", "> :not(.ui-autocomplete-category)" );
        },
        _renderMenu: function( ul, items ) {
            var that = this,
                    currentCategory = "";
            $.each( items, function( index, item ) {
                var li;
                if ( item.category != currentCategory ) {
                    ul.append( "<li class='ui-autocomplete-category'>" + item.category + "</li>" );
                    currentCategory = item.category;
                }
                li = that._renderItemData( ul, item );
                if ( item.category ) {
                    li.attr( "aria-label", item.category + " : " + item.label );
                }
            });
        }
    });
</script>
<script>
    $(document).ready(function(){
        $('.searchButton').prop('disabled',true);
        $('#message').keyup(function(){
            $('.searchButton').prop('disabled', this.value == "" ? true : false);
        })
    });
</script>
<script src="/javascripts/autocomplete.js"></script>
<script type="text/javascript" src="/javascripts/react-tag-input/example/vendor/ReactDND.min.js"></script>
<script src="/javascripts/react-tag-input/dist/reactTags.min.js"></script>
<script src="/javascripts/tag-it.js"></script>
<link rel="stylesheet" href="/stylesheets/tag-it.css">
<link rel="stylesheet" href="/javascripts/react-tag-input/example/reactTags.css">
</body>
</html>