<!-- views/layouts/home.handlebars -->
<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
<head>
    <title>Syncholar Synchronizes Scholars</title>
    <meta name="description" content="Syncholar is a research labs and networks management platform. Create a homepage for your research group, lab, or network on Syncholar. Your page instantnously becomes the hub for your members to
     share knowledge and keep up-to-date with your group's activities. Your page will literally update itself to keep your online presence up-to-date for your visitors.
     Use your personal page as your research dashboard to organize your work and research activities.
    Store, organize, share, and discover knowledge!">
    <meta name="keywords" content="education,socialnetwork,labs,homepage,research network, website, research, information sharing, platform, knowledge, data, model, software, code, equipment, project, paper, journal,
    publication, open access, repository, dashboard, resume, about" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="distribution" content="web">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta property="og:title" content="Syncholar Synchronizes Scholars" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://syncholar.com" />
    <meta property="og:image" content="https://syncholar.com/images/syncholar.png" />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="300" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">



    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/javascripts/react-tagsinput/react-tagsinput.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/stylesheets/form.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/newsfeed.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/profile-organization.css">
    <link rel="stylesheet" href="/stylesheets/profile-organization-item.css">
    <link rel="stylesheet" href="/stylesheets/style-extra.css">
    <link rel="stylesheet" href="/stylesheets/tag-it.css">
    <link rel="stylesheet" href="/stylesheets/notification.css">
    <link rel="stylesheet" href="/javascripts/react-tag-input/example/reactTags.css">

    <script src="/javascripts/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/javascripts/sweetalert/dist/sweetalert.multi.js"></script>

    <link rel="stylesheet" href="/javascripts/sweetalert/dist/sweetalert.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/JSXTransformer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.29.1/react-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.2.1/trianglify.min.js"></script>
    <script src="/javascripts/react-tagsinput/react-tagsinput.js"></script>
    <script src="/javascripts/socket.io.min.js"> </script>
    <script type="text/javascript">
        function decodeEntities(encodedString) {
            var textArea = document.createElement('textarea');
            textArea.innerHTML = encodedString;
            return textArea.value;
        }

        //sweet alert hack for multiple inputs
        function invite(event, invType, source) {
            event.stopPropagation();
            swal({title: "Invite a Potential Syncholar!",
                    text: "",
                    type: "input",
                    showCancelButton: true,
                    closeOnConfirm: false},

                        function(inputValue)
                        {
                            SweetAlertMultiInputReset(); // make sure you call this
                            if (inputValue!=false)
                            {
                                
                                swal({title: "Invitation Sent!",
                                text: "We look forward to having your friend join our network of scholars",
                                type:"success",
                                closeOnConfirm: true,
                                },function(){SweetAlertMultiInputFix()}); // fix used if you want to display another box immediately
                                if (inputValue!=false)
                                {
                                    var results = JSON.parse(inputValue);
                                    console.log(results[0]);
                                    console.log(results[1]);
                                    var emailBody ="<h3> You've been invited to join {{user.fullname}}'s network on Syncholar! </h3><br> <p> You can sign up for Syncholar for free by clicking on the link below: </p>" +
                                            '<a href="https://syncholar.com/">www.syncholar.com</a>' +
                                            '<br><p><b>Invitation code: </b>summer2016 <br><br><p> Syncholar is an information sharing platform and a dynamic and social networked alternative for your research lab or profile webpage.' +
                                            '<br> Academics use Syncholar to:<br>' +
                                            ' - Create a homepage for their research group, lab or network and connect their members.<br>' +
                                            '- Store and share their research outputs.<br>' +
                                            '- Stay up-to-date with their networks activities.<br>' +
                                            '- Discover knowledge and expertise.<br>' +
                                            '- Streamline collaboration within their networks.<br><br>' +
                                            results[1] + '</p>' + '<p><br>-------------------<br>Syncholar Team</p>';
                                    
                                    var emailData = {
                                        'addr': results[0],
                                        'msg': results[1],
                                        'emailBody': emailBody,
                                        'from': source.id,
                                        'invType': invType,
                                        'orgName': source.name, 
                                        'orgDisplayName': source.displayName,
                                        'imgUrl': source.imgUrl
                                    }
                                    $.ajax({
                                      url: "/inviteBuddy",
                                      dataType: 'json',
                                      type: 'POST',
                                      data: emailData,
                                      cache: false,
                                      success: function(response) {
                                        console.log("Ajax for email successful: ", response);
                                      }.bind(this),
                                      error: function(xhr, status, err) {
                                        console.log("Ajax for email failed with err: ", err);
                                      }.bind(this)
                                    });
                                }
                            }
                        }
                    )
                            
            //set up the fields: labels
            var tooltipsArray = ["Email","Message"];
            //set up the fields: defaults
            var defaultsArray = ["",""];
            SweetAlertMultiInput(tooltipsArray,defaultsArray);
        }
    </script>

</head>
<body>
{{#if user}}

    <script>
        var socket = io();
        socket.emit("registerUser",{userId:'{{user.id}}' });
    </script>
{{/if}}

<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid navbar-container">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle Navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand"><img alt="RT" src="/images/logo.png" width="30"></a>
            </div>
            <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {{#if user}}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span> Menu <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/create/organization">Create Organizational Homepage</a></li>
                            <li><a href="/report">Report Problem | Share Idea</a></li>
                            <li><a onclick="invite(event)" value="invite">Invite a Friend</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-nav-search">
                    <li class="nav navbar-search">
                        <div id="autosuggest" class="navbar-left search-bar-form"></div>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown connection-button">
                        <a href="#" id="general-notification-button" class="dropdown-toggle" rel="tooltip" title="Notifications" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <div class="notification-container">
                                <span><i class="fa fa-globe"></i></span>
                                <span class="general-notification-counter" style="display:none;">0</span>
                            </div>
                        </a>
                        <ul id="general-notification" class="dropdown-menu friend-request-dropdown" aria-labelledby="dropdownMenuDivider">
                        </ul>
                    </li>
                    <li class="navbar-hover"><a href="/profile/{{user.username}}" rel="tooltip" title="Profile" ><img src="{{user.imgUrl}}" alt="" width="34px" class="img-circle"></a></li>

                    <li class="dropdown connection-button">
                        <a href="#" class="dropdown-toggle" rel="tooltip" title="Connection Requests" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <div class="notification-container">
                                <span><i class="fa fa-user-plus"></i></span>
                                <span class="request-notification-counter" style="display:none;">0</span>
                            </div>
                        </a>
                        <ul id="request-notification" class="dropdown-menu friend-request-dropdown" aria-labelledby="dropdownMenuDivider">
                        </ul>
                    </li>
                    {{!--<li class="dropdown logout-button"><a href="/setting" role="button"><span><i class="fa fa-cog" aria-hidden="true"></i></span></a>
                    </li>--}}
                    <li class="dropdown logout-button"><a href="/signout" rel="tooltip" title="Sign out" role="button"><span><i class="fa fa-sign-out" aria-hidden="true"></i></span></a>
                    </li>

                {{else}}
                    <li class="dropdown logout-button">
                        <a href="/signin"> <font color="white"><font size="3">Sign In</font></font></a>
                    </li>
                {{/if}}
            </ul>
            </div>
        </div>
    </nav>


    {{{body}}}
    {{#if user}}
   {{!-- <a href="/report" rel="tooltip" title="Report a problem or share an opinion" class="report-button"><i class="fa fa-bug" aria-hidden="true"></i></a> !--}}
    {{/if}}
</div>



<footer class="footer-distributed">

    <div class="footer-left">

        <img alt="RT" src="/images/logo.png" width="30"><span style="color: white;font-size: 15px; font-weight: 600;"> Syncholar </span>

        <p class="footer-links">
            <a href="/">Home</a>
            .
            <a href="/about">About</a>
            .
            <a href="/privacy">Privacy</a>
            .
            <a href="/terms">Terms</a>

        </p>

        <p class="footer-company-name">Syncholar Inc. &copy; 2016 All rights reserved.</p>
    </div>

   <div class="footer-center">

       {{!-- <div>
            <i class="fa fa-map-marker"></i>
            <p><span>2424 Main Mall</span> Vancouver, Canada</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+1 604 123 4567</p>
        </div>
--}}
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:support@syncholar.com">support@syncholar.com</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
           Knowledge Shared is knowledge Gained!
        </p>

        <div class="footer-icons">

            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>

    </div>

</footer>



<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
<script src="/javascripts/bootstrap-sass-official/assets/javascripts/bootstrap.js"> </script>

<script src="https://www.parsecdn.com/js/parse-latest.js"></script>
<script src="https://www.parsecdn.com/js/parse-react.js"></script>

<script type="text/jsx" src="/javascripts/notification-general.js"></script>
<script type="text/jsx" src="/javascripts/notification-request.js"></script>

<script src="https://npmcdn.com/classnames/index.js"></script>
<script src="https://npmcdn.com/react-input-autosize/dist/react-input-autosize.js"></script>
<script src="https://npmcdn.com/react-select/dist/react-select.js"></script>

<link rel="stylesheet" href="https://npmcdn.com/react-select/dist/react-select.css">


<script>
    $(document).ready(function(){
        $('.dropdown-toggle').dropdown()
    });

    $.widget( "custom.catcomplete", $.ui.autocomplete, {
        _create: function() {
            this._super();
            this.widget().menu( "option", "items", "> :not(.ui-autocomplete-category)" );
        },
        _renderMenu: function( ul, items ) {
            var that = this,
                    currentCategory = "";
            $.each( items, function( index, item ) {
                var li;
                if ( item.category != currentCategory ) {
                    ul.append( "<li class='ui-autocomplete-category'>" + item.category + "</li>" );
                    currentCategory = item.category;
                }
                li = that._renderItemData( ul, item );
                if ( item.category ) {
                    li.attr( "aria-label", item.category + " : " + item.label );
                }
            });
        }
    });
</script>
<script>
    $(document).ready(function(){
        $('.searchButton').prop('disabled',true);
        $('#message').keyup(function(){
            $('.searchButton').prop('disabled', this.value == "" ? true : false);
        })
    });
</script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-77500891-1', 'auto');
    ga('send', 'pageview');

</script>
<script type="text/javascript" src="/javascripts/react-tag-input/example/vendor/ReactDND.min.js"></script>
<script src="/javascripts/react-tag-input/dist/reactTags.min.js"></script>
<script src="/javascripts/tag-it.js"></script>
<script type="text/jsx" src="/javascripts/autocomplete.js"></script>

</body>
</html>