<div id="content"></div>
<script type="text/javascript">
    var title = '{{title}}',
        path = '{{path}}',
        access = '{{access}}',
        collaborators = '{{collaborators}}',
        objectId = '{{objectId}}',
        keywords = '{{keywords}}',
        hashtags = '{{hashtags}}',
        description = '{{description}}',
        hashtags = '{{hashtags}}',
        title = '{{title}}',
        license = '{{license}}',
        publication = '{{publication}}';
        publication_link = '{{publication_link}}';
        createdAt = '{{createdAt}}';
</script>
<script type="text/jsx" src="/javascripts/data.js"></script>