<div id="content"></div>
<script type="text/javascript">
    var title = '{{title}}',
        path = '{{path}}',
        currentUserId = '{{currentUserId}}',
        currentUsername = '{{currentUsername}}',
        currentUserImg = '{{currentUserImg}}',
        access = '{{access}}',
        collaborators = '{{collaborators}}',
        objectId = '{{objectId}}',
        creatorId = '{{creatorId}}',
        keywords = '{{keywords}}',
        hashtags = '{{hashtags}}',
        description = '{{description}}',
        hashtags = '{{hashtags}}',
        title = '{{title}}',
        license = '{{license}}',
        image_URL = '{{image_URL}}',
        aws_path = '{{aws_path}}',
        publication = '{{publication}}',
        publication_link = '{{publication_link}}',
        createdAt = '{{createdAt}}';
</script>
<script type="text/jsx" src="/javascripts/data.js"></script>