<div id="content"></div>
<script type="text/javascript">
    var path = '{{path}}',
        currentUserId = '{{currentUserId}}',
        currentUsername = '{{currentUsername}}',
        currentUserImg = '{{currentUserImg}}',
        creatorId = '{{creatorId}}',
        objectId = '{{objectId}}',
        title = decodeEntities('{{title}}'),
        description = decodeEntities('{{description}}'),
        image_URL = decodeEntities('{{image_URL}}'),
        keywords = '{{keywords}}'.replace(/&quot;/g,'"'),
        createdAt = '{{createdAt}}',
        updatedAt = '{{updatedAt}}';
</script>
<script type="text/jsx" src="/javascripts/equipment.js"></script>