<div id="content"></div>
<link rel="stylesheet" href="/stylesheets/form.css">
<script type="text/javascript">
    var title = '{{title}}',
        path = '{{path}}',
        currentUsername = '{{currentUsername}}',
        currentUserImg = '{{currentUserImg}}',
        objectId = '{{objectId}}',
        username = decodeEntities('{{username}}'),
        about = decodeEntities('{{about}}'),
        current_location = decodeEntities('{{location}}'),
        fullname = decodeEntities('{{fullname}}'),
        summary = decodeEntities('{{summary}}'),
        interests = decodeEntities('{{interests}}'),
        interestsTag = decodeEntities('{{interestsTag}}'),
        workExperience = decodeEntities('{{workExperience}}'),
        educations = decodeEntities('{{educations}}'),
        projects = decodeEntities('{{projects}}'),
        profile_imgURL = '{{profile_imgURL}}',
        currStep = '{{currStep}}';
</script>
<script type="text/jsx" src="/javascripts/libs/moment.min.js"></script>
<script type="text/jsx" src="/javascripts/import.js"></script>
<script type="text/jsx" src="/javascripts/gettingstarted.js"></script>