<div id="content"></div>
<script type="text/javascript">
    var title = decodeEntities('{{title}}'),
        path = '{{path}}',
        currentUserId = '{{currentUserId}}',
        currentUsername = '{{currentUsername}}',
        currentUserImg = '{{currentUserImg}}',
        access = '{{access}}',
        url = '{{url}}',
        collaborators = decodeEntities('{{collaborators}}'),
        objectId = '{{objectId}}',
        creatorId = '{{creatorId}}',
        description = decodeEntities('{{description}}'),
        image_URL = decodeEntities('{{image_URL}}'),
        aws_path = decodeEntities('{{aws_path}}'),
        image = '{{image}}',
        filename = decodeEntities('{{filename}}'),
        keywords = decodeEntities('{{keywords}}'),
        license = decodeEntities('{{license}}'),
        groupies = '{{groupies}}',
        createdAt = '{{createdAt}}',
        updatedAt = '{{updatedAt}}'
</script>
<script type="text/jsx" src="/javascripts/model.js"></script>