<div id="content"></div>
<script type="text/javascript">
    var title = '{{title}}',
        path = '{{path}}',
        currentUsername = '{{currentUsername}}',
        currentUserImg = '{{currentUserImg}}',
        objectId = '{{objectId}}',
        joinOrganization = '{{joinOrganization}}',
        joinType = '{{joinType}}',
        name = '{{name}}',
        about = decodeEntities('{{about}}'),
        orgLocation = '{{location}}',
            orgCountry = ('{{country}}'),
            orgProv = '{{prov}}',
            orgCity = '{{city}}',
            orgStreet = '{{street}}',
            orgPostalcode = '{{postalcode}}',
            orgWebsite = '{{website}}',
            organization_imgURL ='{{organization_imgURL}}',
            carousel_1_img = '{{carousel_1_img}}',
            carousel_2_img = '{{carousel_2_img}}',
            carousel_3_img = '{{carousel_3_img}}',
            carousel_1_head = decodeEntities('{{carousel_1_head}}'),
            carousel_2_head = decodeEntities('{{carousel_2_head}}'),
            carousel_3_head = decodeEntities('{{carousel_3_head}}'),
            carousel_1_body = decodeEntities('{{carousel_1_body}}'),
            carousel_2_body = decodeEntities('{{carousel_2_body}}'),
            carousel_3_body = decodeEntities('{{carousel_3_body}}'),
        isCreate = '{{isCreate}}';
</script>
{{#if isCreate}}
    <script type="text/jsx" src="/javascripts/createOrganization.js"></script>
{{else}}
    <script type="text/jsx" src="/javascripts/autocomplete.js"></script>
    <script type="text/jsx" src="/javascripts/organization.js"></script>
{{/if}}
