<div id="content"></div>
<script type="text/javascript">
    var title = '{{title}}',
        path = '{{path}}',
        currentUsername = '{{currentUsername}}',
        currentUserImg = '{{currentUserImg}}',
        objectId = '{{objectId}}',
        name = decodeEntities('{{name}}'),
        about = decodeEntities('{{about}}'),
        orgLocation = decodeEntities('{{location}}'),
        organization_imgURL = decodeEntities('{{organization_imgURL}}'),
        cover_imgURL = decodeEntities('{{cover_imgURL}}'),
        isCreate = '{{isCreate}}';
</script>
{{#if isCreate}}
    <script type="text/jsx" src="/javascripts/createOrganization.js"></script>
{{else}}
    <script type="text/jsx" src="/javascripts/organization.js"></script>
{{/if}}
