<div id="content"></div>
<script type="text/javascript">
    var title = '{{title}}',
        path = '{{path}}',
        currentUsername = '{{currentUsername}}',
        currentUserImg = '{{currentUserImg}}',
        objectId = '{{objectId}}',
        about = '{{about}}',
        username = '{{username}}',
        fullname = '{{fullname}}',
        position = '{{position}}',
        summary = '{{summary}}',
        expertise = '{{expertise}}'.replace(/&quot;/g,'"'),
        interests = '{{interests}}'.replace(/&quot;/g,'"'),
        work_experiences = '{{work_experiences}}'.replace(/&quot;/g,'"'),
        educations = '{{educations}}'.replace(/&quot;/g,'"'),
        projects = '{{projects}}'.replace(/&quot;/g,'"'),
        profile_imgURL = '{{profile_imgURL}}';
</script>
<script type="text/jsx" src="/javascripts/profilex.js"></script>