<div id="content"></div>
<link rel="stylesheet" href="/stylesheets/form.css">
<script type="text/javascript">
    var title = '{{title}}',
        path = '{{path}}',
        currentUsername = '{{currentUsername}}',
        currentUserImg = '{{currentUserImg}}',
        objectId = '{{objectId}}',
        username = '{{username}}',
        current_location = '{{location}}',
        fullname = decodeEntities('{{fullname}}'),
        summary = '{{summary}}',
        interests = '{{interests}}'.replace(/&quot;/g,'"'),
        interestsTag = '{{interestsTag}}'.replace(/&quot;/g,'"'),
        workExperience = '{{workExperience}}'.replace(/&quot;/g,'"'),
        educations = '{{educations}}'.replace(/&quot;/g,'"'),
        projects = '{{projects}}'.replace(/&quot;/g,'"'),
        profile_imgURL = '{{profile_imgURL}}';
</script>
<script type="text/jsx" src="/javascripts/profile.js"></script>