<div class="item-top item-top-container">
    <div class="item-top-1 col">
        <img src="{{profile_imgURL}}" class="contain-image">
    </div>
</div>
<div class="item-bottom">
    <div class="item-bottom-1">
        <div class="item-panel contain-panel"><h4>{{fullname}}</h4></div>
        <div class="item-panel contain-panel"><h4>{{position}}</h4></div>
        <div class="item-panel contain-panel"><h4>{{location}}</h4></div>
    </div>
    <div class="item-bottom-2">
        <div id="tabs">
            <ul id="content-nav">
                <li><a href="#connections">Connections</a></li>
                <li><a href="#resume">Resume</a></li>
                <li><a href="#friends">Friends</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#publications">Publications</a></li>
                <li><a href="#models">Models</a></li>
                <li><a href="#data">Data</a></li>
            </ul>
        </div>
        <div id="content" class="content" contenteditable="false">
            <form id="publication-form" action="" method="" novalidate="" enctype="multipart/form-data" style="display:none;">
                <div id="field1-container" class="form-group">
                    <label for="field1">
                        Title:
                    </label>
                    <input class="form-control" type="text" name="title" id="field1" required="required">
                </div>
                <div id="field2-container" class="form-group">
                    <label for="field2">
                        Publication/Publisher:
                    </label>
                    <input class="form-control" type="text" name="publication-publisher" id="field2" required="required">
                </div>
                <div id="field3-container" class="form-group">
                    <label for="field3">
                        Publication Date:
                    </label>
                    <input class="form-control" type="date" id="field3" maxlength="524288" name="publication-date"
                           required="" size="20" tabindex="0" title="">
                </div>
                <div id="field5-container" class="radio-group required form-group">
                    <label for="field5-1">
                        Publication
                    </label>
                    <div class="option clearfix">
                        <input type="radio" name="publication" id="field5-1" value="Upload">
                    <span class="option-title">
                         Upload
                    </span>
                        <input type="radio" name="publication" id="field5-2" value="URL" style="margin-left:1.5em;">
                    <span class="option-title">
                         URL
                    </span>
                    </div>
                </div>
                <div id="field4-container" class="form-group">
                    <label for="field4">
                        Upload:
                    </label>
                    <input class="form-control" type="file" name="publication-upload" id="field4" required="required">
                </div>
                <div id="field6-container" class="form-group">
                    <label for="field6">
                        URL:
                    </label>
                    <input class="form-control" type="url" name="publication-url" id="field6" required="required">
                </div>
                <div id="field8-container" class="form-group">
                    <label for="field8">
                        Authors:
                    </label>
                    <input class="form-control" type="text" name="authors" id="field8" required="required">
                </div>
                <div id="field9-container" class="form-group">
                    <label for="field9">
                        Description:
                    </label>
                    <input class="form-control" type="text" name="description" id="field9" required="required">
                </div>
                <div id="field10-container" class="form-group">
                    <label for="field10">
                        Tags:
                    </label>
                    <input class="form-control" type="text" name="tags" id="field10" required="required">
                </div>
                <table id="form-submit" width="100%"><tr>
                    <td style="padding-right:5px;"><input class="publication-button" type="submit" value="Submit"></td>
                    <td style="padding-left:5px;"><input class="publication-button" type="submit" value="Cancel"></td>
                </tr>
                </table>
            </form>
            <div id="connections-list" style="display:none;">
                <div class="list-item"><a href="#" class="nostyle"><img src="/images/organization.png" class="contain-icons"/><h4 style="margin-top:0px;">Organization's Name</h4></a><span>Organization's Title</span> @ <span>Organization's Location</span></div>
                <div class="list-item"><a href="#" class="nostyle"><img src="/images/organization.png" class="contain-icons"/><h4 style="margin-top:0px;">Organization's Name</h4></a><span>Organization's Title</span> @ <span>Organization's Location</span></div>
                <div class="list-item"><a href="#" class="nostyle"><img src="/images/organization.png" class="contain-icons"/><h4 style="margin-top:0px;">Organization's Name</h4></a><span>Organization's Title</span> @ <span>Organization's Location</span></div>
                <div class="list-item"><a href="#" class="nostyle"><img src="/images/organization.png" class="contain-icons"/><h4 style="margin-top:0px;">Organization's Name</h4></a><span>Organization's Title</span> @ <span>Organization's Location</span></div>
            </div>
            <div id="friends-list" style="display:none;">
                <div class="list-item"><a href="#" class="nostyle"><img src="/images/user.png" class="contain-icons"/><h4 style="margin-top:0px;">Person's Name</h4></a><span>Person's Title</span> @ <span>Person's Location</span></div>
                <div class="list-item"><a href="#" class="nostyle"><img src="/images/user.png" class="contain-icons"/><h4 style="margin-top:0px;">Person's Name</h4></a><span>Person's Title</span> @ <span>Person's Location</span></div>
                <div class="list-item"><a href="#" class="nostyle"><img src="/images/user.png" class="contain-icons"/><h4 style="margin-top:0px;">Person's Name</h4></a><span>Person's Title</span> @ <span>Person's Location</span></div>
                <div class="list-item"><a href="#" class="nostyle"><img src="/images/user.png" class="contain-icons"/><h4 style="margin-top:0px;">Person's Name</h4></a><span>Person's Title</span> @ <span>Person's Location</span></div>
            </div>
            <div id="about" style="display:none;">
               {{about}}
            </div>
            <div id="resume" style="display:none;">
                <div id="resume-summary">
                <div>
                    <h3 style="margin-top:0px;"><span aria-hidden="true" class="glyphicon glyphicon-info-sign"></span> Summary</h3>
                </div>
                <div id="resume-summary-item">
                    React components implement a render() method that takes input data and returns what to display. This example uses an XML-like syntax called JSX. Input data that is passed into the component can be accessed by render() via this.props.
                </div>
                </div>
                <hr>
                <div id="resume-education">
                    <div>
                        <h3 style="margin-top:0px;"><span aria-hidden="true" class="glyphicon glyphicon-education"></span> Education</h3>
                    </div>
                    <div id="resume-education-item">
                        <h4 style="margin:0px;font-weight:normal;">Hogwarts University (January 2001 - Present)</h4>
                        React components implement a render() method that takes input data and returns what to display. This example uses an XML-like syntax called JSX. Input data that is passed into the component can be accessed by render() via this.props.
                    </div><br>
                    <div id="resume-education-item">
                        <h4 style="margin:0px;font-weight:normal;">Monsters University (January 1993 - January 2001)</h4>
                        React components implement a render() method that takes input data and returns what to display. This example uses an XML-like syntax called JSX. Input data that is passed into the component can be accessed by render() via this.props.
                    </div>
                </div>
                <hr>
                <div id="resume-experience">
                    <div>
                        <h3 style="margin-top:0px;" ><span aria-hidden="true" class="glyphicon glyphicon-paperclip"></span> Experience</h3>
                    </div>
                    <div id="resume-experience-item">
                        <h4 style="margin:0px;font-weight:normal;">Cake Eater (January 2001 - Present)</h4>
                        React components implement a render() method that takes input data and returns what to display. This example uses an XML-like syntax called JSX. Input data that is passed into the component can be accessed by render() via this.props.
                    </div>
                </div>
                <hr>
                <div id="resume-projects">
                    <div>
                        <h3 style="margin-top:0px;"><span aria-hidden="true" class="glyphicon glyphicon-star"></span> Projects</h3>
                    </div>
                    <div id="resume-project-item">
                        React components implement a render() method that takes input data and returns what to display. This example uses an XML-like syntax called JSX. Input data that is passed into the component can be accessed by render() via this.props.
                    </div>
                </div>
            </div>

        </div>
        <div id="bottom-tabs" class="bottom-tab">
            <ul>
                <li id="editable"><a href="#edit" onclick="makeEditable()">Edit</a></li>
                <li><a href="#save" onclick="saveEditable()">Save</a></li>
            </ul>
        </div>
    </div>
    <div style="float:left;height:100px;width:100%;">
    </div>
</div>