<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript">
$(function () {
    $('#content-nav li a').on('click', function (e) {
        e.preventDefault();
        var page = $(this).attr('href');
        $('#item-content').load(page);
    });
});
</script>

<div class="item-top item-top-container">
    <div class="item-top-1 col">
        <img src="{{profile_imgURL}}" class="contain-image">
    </div>
</div>
<div class="item-bottom">
    <div class="item-bottom-1">
        <div class="item-panel contain-panel"><h4>{{fullname}}</h4></div>
        <div class="item-panel contain-panel"><h4>{{position}}</h4></div>
        <div class="item-panel contain-panel"><h4>{{location}}</h4></div>
    </div>
    <div class="item-bottom-2">
        <div id="tabs">
            <ul id="content-nav">
                <li><a href="#connections">Connections</a></li>
                <li><a href="#resume">Resume</a></li>
                <li><a href="#friends">Friends</a></li>
                <li><a href="about/{{username}}">About</a></li>
                <li><a href="#publications">Publications</a></li>
                <li><a href="#models">Models</a></li>
                <li><a href="#data">Data</a></li>
            </ul>
        </div>
        <div id="item-content" class="item-content" contenteditable="false">

        </div>
        <div id="bottom-tabs" class="bottom-tab">
            <ul>
                <li id="editable"><a href="#edit" onclick="makeEditable()">Edit</a></li>
                <li><a href="#save" onclick="saveEditable()">Save</a></li>
            </ul>
        </div>
    </div>
</div>