<div id="content"></div>
<link rel="stylesheet" href="/stylesheets/form.css">
<script type="text/javascript">
    var title = '{{title}}',
        path = '{{path}}',
        currentUsername = '{{currentUsername}}',
        currentUserImg = '{{currentUserImg}}',
        objectId = '{{objectId}}',
        about = '{{about}}',
        username = '{{username}}',
        current_location = '{{location}}',
        fullname = decodeEntities('{{fullname}}'),
        position = decodeEntities('{{position}}'),
        summary = decodeEntities('{{summary}}'),
        expertise = '{{expertise}}'.replace(/&quot;/g,'"'),
        interests = '{{interests}}'.replace(/&quot;/g,'"'),
        work_experiences = '{{work_experiences}}'.replace(/&quot;/g,'"'),
        educations = '{{educations}}'.replace(/&quot;/g,'"'),
        projects = '{{projects}}'.replace(/&quot;/g,'"'),
        profile_imgURL = '{{profile_imgURL}}';
</script>
<script type="text/jsx" src="/javascripts/profile.js"></script>