extends layout

block socketscript
  script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/react.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/JSXTransformer.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.1/react-with-addons.js")
  script(src="/javascripts/react-tagsinput/react-tagsinput.js")
  script(src="/javascripts/jquery.media.js")


block content
  div.row
    div.col-sm-10.col-md-offset-2
      div.row
        div.col-sm-2.panel.panel-default
          div.imageWrapper(onmouseover="document.getElementById('add-photo').style.display = 'block';" onmouseout="document.getElementById('add-photo').style.display = 'none';")
            img#profile-picture(src="#{profilepicurl}")
            -if(isMe)
              div.add-photo#add-photo
                a(href="" data-toggle="modal" data-target="#upload-image")
                  span.glyphicon.glyphicon-camera(aria-hidden="true")
          -if(isMe)
            h5#username #{username}
            form#update-profile(method="POST" action="/profile/#{username}")
              .row(onmouseover="document.getElementById('edit-name').style.display = 'inline';" onmouseout="document.getElementById('edit-name').style.display ='none';")
                .col-xs-10
                  h6.usersname#add-your-name Add your name 
                .col-xs-2
                  a.btn.btn-default#edit-name
                    span.glyphicon.glyphicon-pencil(aria-hidden="true")
              .row(onmouseover="document.getElementById('edit-email').style.display = 'inline';" onmouseout="document.getElementById('edit-email').style.display ='none';")
                .col-xs-10
                  h6.usersname#add-your-email Add your email
                .col-xs-2
                  a.btn.btn-default#edit-email
                    span.glyphicon.glyphicon-pencil(aria-hidden="true")
              .row.save
                .col-xs-8.col-xs-offset-4.save-col
                  .text-right
                    button.btn.btn-default#save-changes(type="submit") Save Changes
          -else
            h5 #{otheruser}
        div.col-sm-8.small-padding
          #content
  
  .modal.fade#upload-image(tabindex="-1" role="dialog" aria-labelledby="upload")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title#upload Upload Profile Picture
        .modal-body
          form#upload-profile-pic(action="/uploadimage" method="POST")
            div.row
              div.col-xs-4
                img#preview(src="#{profilepicurl}" alt="profile picture")
              div.col-xs-8
                input#imginput(type="file")  
        .modal-footer
          button.btn.btn-default(type="button" data-dismiss="modal") Close
          button.btn.btn-primary#submit-photo(type="button") Save Changes
  
  script.
    var user = "#{username}";
    var isMe = "#{isMe}";
    console.log(isMe);
    var getPublicationUrl = "/profile/"+user+"/publications";
    console.log(user);
    var sampleTags = ['c++', 'java', 'php', 'coldfusion', 'javascript', 'asp', 'ruby', 'python', 'c', 'scala', 'groovy', 'haskell', 'perl', 'erlang', 'apl', 'cobol', 'go', 'lua'];
  
  script(src="/javascripts/react-bootstrap/react-bootstrap.js")
  script(type="text/jsx", src="/javascripts/showpublication.js")
  script(type="text/jsx", src="/javascripts/tags.js")
  script(type="text/jsx", src="/javascripts/profile.js")
  

