<div id="content"></div>
<script type="text/javascript">
    var path = '{{path}}',
        currentUserId = '{{currentUserId}}',
        currentUsername = '{{currentUsername}}',
        creatorId = '{{creatorId}}',
        objectId = '{{objectId}}',
        title = decodeEntities('{{title}}'),
        description = decodeEntities('{{description}}'),
        image_URL = decodeEntities('{{image_URL}}'),
        file_path = decodeEntities('{{file_path}}'),
        authors = decodeEntities('{{authors}}'),
        keywords = decodeEntities('{{keywords}}'),
        locations = '{{locations}}'.replace(/&quot;/g,'"'),
        createdAt = '{{createdAt}}',
        updatedAt = '{{updatedAt}}';
</script>
<script type="text/jsx" src="/javascripts/sharedComponents/settings.js"></script>
<script type="text/jsx" src="/javascripts/project.js"></script>