<div id="content"></div>
<script type="text/javascript">
    var path = '{{path}}',
        currentUserId = '{{currentUserId}}',
        creatorImg = '{{creatorImg}}',
        objectId = '{{objectId}}',
        creatorId = '{{creatorId}}',
        title = decodeEntities('{{title}}'),
        author = decodeEntities('{{author}}'),
        description = decodeEntities('{{abstract}}'),
        filename = decodeEntities('{{filename}}'),
        keywords = decodeEntities('{{keywords}}'),
        license = decodeEntities('{{license}}'),
        groupies = '{{groupies}}',
        pub_class = '{{pub_class}}',
        publication_link = decodeEntities('{{publication_link}}'),
        publication_date = '{{publication_date}}',
        publication_code = decodeEntities('{{publication_code}}'),
        createdAt = '{{createdAt}}',
        updatedAt = '{{updatedAt}}';
</script>
<script type="text/jsx" src="/javascripts/libs/sharedComponents/settings.js"></script>
<script type="text/jsx" src="/javascripts/publication.js"></script>