<h1>Search Page goes here </h1>
<h2> This is {{title}} </h2>
<h3> You searched {{query}} </h3>

<h4> USERS: </h4>
<ul>
  {{#each users}}
    <li><a href="/profile/{{@key}}">
      {{@key}}</a>
    </li>
  {{/each}}
</ul>

<h4> MODELS: </h4>
<ul>
  {{#each models}}
    <li><a href="/model/{{this}}">{{@key}}</a></li>
  {{/each}}
</ul>

<h4> PUBLICATIONS </h4>
<ul>
  {{#each publications}}
    <li><a href="/publication/{{this}}">{{@key}}</a></li>
  {{/each}}
</ul>

<h4> DATA </h4>
<ul>
  {{#each data}}
    <li><a href="/data/{{this}}">{{@key}}</a></li>
  {{/each}}
</ul>

<h4> ORGANIZATIONS </h4>
<ul>
  {{#each organizations}}
    <li><a href="/organization/{{this}}">{{@key}}</a></li>
  {{/each}}
</ul>